.productsContainer {
  padding: 20px;
}

.productsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.productCard {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  max-width: calc(33.333% - 20px);
}
