.productsContainer {
  padding: 20px;
}

.productsGrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
