body {
  background-color: rgb(231, 222, 222);
  color: red;
}


.container {
  margin-top: 70px;
  
  max-width: 200px;
  height: auto;
  margin-left: 20px;
  background-color: rgb(23, 21, 21);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
